<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  </head>
  <body>
    <header th:insert = "blocks/header.html"></header>
    <br>

    <div class="container">
      <form th:action="@{/admin/user}" method="post" th:object="${user}">
        <label for="username">Имя пользователя: </label>
        <input type="text" name="username" id="username" th:field="*{username}" required>
        <div th:each="role: ${roles}">
          <label class="container">
            <input th:type="checkbox"
                   th:name="${role}"
                   th:value="${role}"
                   th:text="${role}"
                   th:checked="${#lists.contains(user.roles, role)}">
          </label>
        </div>
        <input type="hidden" th:value="${user.id}" name="userId">
        <button type="submit"  class="btn btn-warning">сохранить изменения</button>
      </form>
      </div>
    <div th:insert="blocks/footer.html"></div>
  </body>
</html>